html {
  font-size: 62.5%;
  height: 100%;
}

body {
    @include regular_font;

    color: $font-color;
    height: 100%;
    background-color: #a6c4ca;
}

h1, h2, h3, h4, h5, h6 {
    @include header_font;

    font-size: 2.4rem;
    margin: 0;
}

p,
ul li,
ol li {
	margin: 0;
    margin-bottom: .5em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: $primary-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

b,
strong {
	@include bold_font;
}
