/* Font styles */

@mixin regular_font {
    font-family: monospace, sans-serif;
    font-size: 1.3rem;
    line-height: 1.2;
}

@mixin bold_font {
    font-family: monospace, sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

@mixin header_font {
	@include bold_font;

    font-size: 4rem;
    letter-spacing: 1px;
}